rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 使用者只能讀取/寫入自己的資料
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // 子集合
      match /{collection}/{document} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
